
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device=width, initial-scale=1.0">
        <title> Weather App </title>
        <link href= "{{ url_for('static', filename ='css/main.css') }}" rel="stylesheet" type="text/css">
    </head>
<body>

<div class="container">
    <div class="content">
        <!-- <img src="../image/weather.png">
         -->
         <img src="{{url_for('static', filename='weather.png')}}" />
        <h2> Discover the weather <br>
        in Your city </h2>

        <p> Get to know your weather and <br>
        radar precipation forecast
        </p>

        <button class="btn"> <a href="{{ url_for('details')}}">  Get started</a></button>
    </div>
</div>

</body>
</html>




